<div class="intersection">
  <div class="vertical-container">
    <app-traffic-light
      [lightColor]="verticallLights"
      [position]="'vertical'"
      [btnPosition]="'column'"
    ></app-traffic-light>
  </div>

  <div class="horizontal-container">
    <app-traffic-light
      [lightColor]="horizontalLights"
      [position]="'horizontal'"
      [btnPosition]="'row'"
    ></app-traffic-light>

    <button
      class="btn"
      (click)="activateEmergencyMode()"
      [disabled]="isEmergency"
    >
      Авария
    </button>

    <app-traffic-light
      [lightColor]="horizontalLights"
      [position]="'horizontal'"
      [btnPosition]="'row'"
    ></app-traffic-light>
  </div>

  <div class="vertical-container">
    <app-traffic-light
      [lightColor]="verticallLights"
      [position]="'vertical'"
      [btnPosition]="'column'"
    ></app-traffic-light>
  </div>
</div>